<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>O mnie</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <h1>Witaj na mojej stronie</h1>
        <img src="../static/img/telephone2.jpg"alt="Zabytkowy telefon" title="Telefon">
    
        <h2><i>Kontakt</i></h2> 
        <ul>
            <li><strong>email: </strong>Tytus.DeZoo@gmail.com </li>
            <li><strong>telefon: </strong> 123 456 789 </li>
        </ul>
        <h3><strong>Wyślij wiadomość<strong></h3>
        

        <form action="mailto:Tytus.DeZoo@gmail.com" method="post">
        <textarea name="textarea"></textarea>
        <input type="submit" value="Wyślij" />
        <input type="reset" value="Wyczyść formularz" />
        </form>

    </body>
</html>